<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>

	<title>Jonathan Doe | Web Designer, Director | name@yourdomain.com</title>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />

	<meta name="keywords" content="" />
	<meta name="description" content="" />

	<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.7.0/build/reset-fonts-grids/reset-fonts-grids.css" media="all" /> 
	<link rel="stylesheet" type="text/css" href="../profile-templates/3/resume.css" media="all" />

</head>
<body>

<div id="doc2" class="yui-t7">
	<div id="inner">
	
		<div id="hd">
			<div class="yui-gc">
				<div class="yui-u first">
					<h1><span th:text="${userProfile.firstName}+' '">Joe</span><span th:text="${userProfile.lastName}">Joe</span>
						<a th:if=" ${currentUsersProfile}" href="/edit">Edit</a>
					</h1>
					<h2><span th:text="${userProfile.phone}">123-456-7788</span>Web Designer, Director</h2>
				</div>

				<div class="yui-u">
					<div class="contact-info">
						<h3><a th:text="${userProfile.email}"  href="mailto${userProfile.email}" > </a></h3>
						<h3 th:text="${userProfile.phone}">(313) - 867-5309</h3>
					</div><!--// .contact-info -->
				</div>
			</div><!--// .yui-gc -->
		</div><!--// hd -->

		<div id="bd">
			<div id="yui-main">
				<div class="yui-b">

					<div class="yui-gf">
						<div class="yui-u first">
							<h2>Profile</h2>
						</div>
						<div class="yui-u">
							<p class="enlarge" th:text="${userProfile.summary}">Summary</p>
						</div>
					</div><!--// .yui-gf -->

					<div class="yui-gf">
						<div class="yui-u first">
							<h2>Skills</h2>
						</div>
						<div class="yui-u">

							<div class="sectionContent">
								<ul class="keySkills" th:each="skill : ${userProfile.skills}">
									<li th:text="${skill}">A Key Skill</li>

								</ul>
							</div>
						</div>
					</div><!--// .yui-gf -->



					<div class="yui-gf">
	
						<div class="yui-u first">
							<h2>Experience</h2>
						</div><!--// .yui-u -->

						<div class="yui-u">

							<div class="sectionContent" th:each="job: ${userProfile.jobs}">
								<article>
									<p th:text="${job.designation}">Job Title at Company></p>
									<p th:text="${job.company}">Company</p>
									<p class="subDetails">
										<span th:text="${job.formattedStartDate}">April 2011</span> -
										<span th:text="${job.currentJob} ? 'Present' : ${job.formattedEndDate}"> Present</span>
									</p>
									<ul th:each="responsibility : ${job.responsibilities}">
										<li th:text="${responsibility}">Responsibility</li>
									</ul>
								</article>

							</div>

						</div><!--// .yui-u -->
					</div><!--// .yui-gf -->


					<div class="yui-gf last">
						<div class="yui-u first">
							<h2>Education</h2>
						</div>
						<div class="sectionContent" th:each="education : ${userProfile.educations}">
							<article>
								<h2 th:text="${education.college}">College/University</h2>
								<p th:text="${education.qualification}">Qualification</p>
								<p th:text="${education.summary}">Education Summary</p>
								<p th:text="${education.formattedStartDate+'-'+education.formattedEndDate}">Education Summary</p>
							</article>

						</div>
					</div><!--// .yui-gf -->


				</div><!--// .yui-b -->
			</div><!--// yui-main -->
		</div><!--// bd -->

<!--		<div id="ft">-->
<!--			<p>Jonathan Doe &mdash; <a href="mailto:name@yourdomain.com">name@yourdomain.com</a> &mdash; (313) - 867-5309</p>-->
<!--		</div>&lt;!&ndash;// footer &ndash;&gt;-->

	</div><!-- // inner -->


</div><!--// doc -->


</body>
</html>

